.details {
  .main {
    width: 100%;
    padding-top: 36px;
    margin: auto;
    &__address {
      width: calc(100% - 68%);
      box-shadow: 0px 4px 30px rgba(0, 28, 78, 0.05);
      border-radius: 14px;
      padding: 13px 0 14px 50px;
      border: 1px solid rgba(0, 28, 78, 0.15);

      span:nth-child(1) {
        font-size: 20px;
        font-weight: 700;
        color: rgba(0, 28, 78, 0.87);
        display: block;
        padding-bottom: 3px;
      }
      span:nth-child(2) {
        font-size: 16px;
        font-weight: 500;
        color: rgba(0, 28, 78, 0.87);
      }
    }
    .holding_transaction {
      display: flex;
      align-items: center;
      margin-top: 55px;
      .holding {
        flex: 1;
        padding: 12px 55px 36px 55px;
        margin-right: 33px;
        border: 1px solid rgba(0, 28, 78, 0.15);
        box-shadow: 0px 4px 30px rgba(0, 28, 78, 0.05);
        border-radius: 14px;
        &__title {
          font-size: 18px;
          font-weight: 600;
          color: rgba(0, 28, 78, 0.87);
          margin-bottom: 33px;
          display: block;
        }
        &__balance {
          border-bottom: 1px solid #c4c4c4;
          span:nth-child(1) {
            font-size: 16px;
            font-weight: 500;
            color: rgba(0, 28, 78, 0.87);
            display: block;
            margin-bottom: 15px;
          }
          span:nth-child(2) {
            color: rgba(0, 28, 78, 0.87);
            font-size: 20px;
            font-weight: 700;
            display: block;
            margin-bottom: 20px;
          }
        }
        &__chn {
          border-bottom: 1px solid #c4c4c4;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .content-left {
            span:nth-child(1) {
              display: block;
              margin-top: 14px;
              margin-bottom: 15px;
              font-size: 16px;
              font-weight: 500;
              color: rgba(0, 28, 78, 0.87);
            }
            span:nth-child(2) {
              color: rgba(0, 28, 78, 0.87);
              font-size: 20px;
              font-weight: 700;
              display: block;
              margin-bottom: 20px;
            }
          }
          .content-right {
            .number {
              padding-left: 6px;
            }
          }
        }
        &__delegating {
          span:nth-child(1) {
            display: block;
            margin-top: 19px;
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 10px;
            color: rgba(0, 28, 78, 0.87);
          }
          span:nth-child(2) {
            color: rgba(0, 28, 78, 0.87);
            font-size: 20px;
            font-weight: 700;
            display: block;
          }
        }
      }
      .transaction {
        flex: 2;
        border: 1px solid rgba(0, 28, 78, 0.15);
        box-shadow: 0px 4px 30px rgba(0, 28, 78, 0.05);
        border-radius: 14px;
        padding: 12px 55px 20px 55px;
        .title {
          margin-bottom: 33px;
          font-size: 18px;
          color: rgba(0, 28, 78, 0.87);
          font-weight: 600;
          padding-left: 13px;
        }
        .table {
          &__table-head {
            .table-row {
              &__table-cell {
                border-bottom: none !important;
                padding-bottom: 0px !important;
                font-size: 16px;
                font-weight: 500;
                color: rgba(0, 28, 78, 0.87);
              }
            }
          }
          &__table-body {
            .table-row {
              &__table-cell {
                border-bottom: none !important;
                padding-bottom: 4px !important;
                font-size: 16px;
                font-weight: 500;
                color: rgba(0, 28, 78, 0.87);
              }
            }
          }
        }
        .more {
          display: block;
          padding-top: 29px;
          text-align: center;
          cursor: pointer;
          font-size: 18px;
          font-weight: 600;
          color: rgba(0, 28, 78, 0.87);
        }
      }
    }
  }
}
