REACT_APP_ENV=testnet
REACT_APP_TRUST_BRIDGE=https://bridge.walletconnect.org
REACT_APP_COIN_BASE_URL=https://api.coinbase.com
REACT_APP_TIMEOUT=20000
REACT_APP_COINGECKO=https://api.coingecko.com/api/v3
REACT_APP_BACKEND=http://172.16.1.217:3003
REACT_APP_EXPLORER=https://rinkeby.etherscan.io/tx/
REACT_APP_BASE_SOCKET=http://172.16.1.217:3003
REACT_APP_DEEP_LINK_METAMASK=https://metamask.app.link/dapp/chn-finance.sotatek.works/
REACT_APP_CHAIN_ID=4

#Mainnet
REACT_APP_MAIN_CHN_TOKEN_ADDRESS=0x74232704659ef37c08995e386A2E26cc27a8d7B1
REACT_APP_GOVERNANCE_MAIN_ADDRESS=0x099e6dbA93435224C161bbc9747Df03cF125b4CC
REACT_APP_TIMELOCK_MAIN_ADDRESS=0xb8F6b2cbCaF15dB479723306E3876e66e4Dd3d0f
REACT_APP_CHNTOKEN_MAIN_ADDRESS=0x47974400432ADbCCAC6BdedAE73DDAaaFA91A5ec
REACT_APP_STAKE_MAINNET_ADDRESS=0x6704904145b34B97cd0e29aA122dC67366FE8286
REACT_APP_ETHEREUM_MAIN_ADDRESS=https://rinkeby.etherscan.io/address
REACT_APP_MAINNET_RPC=https://mainnet.infura.io/v3/0e82170bfcb5485091c2b3c235b842dd


#Testnet
REACT_APP_TEST_CHN_TOKEN_ADDRESS=0x47974400432ADbCCAC6BdedAE73DDAaaFA91A5ec
REACT_APP_GOVERNANCE_TESTNET_ADDRESS=0x099e6dbA93435224C161bbc9747Df03cF125b4CC
REACT_APP_TIMELOCK_TESTNET_ADDRESS=0xb8F6b2cbCaF15dB479723306E3876e66e4Dd3d0f
REACT_APP_CHNTOKEN_TESTNET_ADDRESS=0x47974400432ADbCCAC6BdedAE73DDAaaFA91A5ec
REACT_APP_STAKE_TESTNET_ADDRESS=0x6704904145b34B97cd0e29aA122dC67366FE8286
REACT_APP_ETHEREUM_TESTNET_ADDRESS=https://rinkeby.etherscan.io/address
REACT_APP_RINKEBY_RPC=https://rinkeby.infura.io/v3/0e82170bfcb5485091c2b3c235b842dd
REACT_APP_WALLET_LINK_URL=https://rinkeby.infura.io/v3/fc7ab9d8a76d4db9b4aad3f7e01bd58f

REACT_APP_INFURA_ID=6f446ee5f1b5485b8a2d3fa2708957c1

#timelock: 0xF342Dde258860f1085efC7849c3878128564d56B
#gov: 0x099e6dbA93435224C161bbc9747Df03cF125b4CC
#staking: 0x6704904145b34B97cd0e29aA122dC67366FE8286