.table {
  padding: 31px 16px 0px 16px;
  .paper {
    padding: 26px 17px 15px 17px;
    box-shadow: 0px 4px 30px rgba(0, 28, 78, 0.05);
    border-radius: 14px;
    background-color: var(--background-table);
    .title {
      font-size: 16px;
      font-weight: 600;
      color: var(--text-table);
      text-transform: capitalize;
    }
    .children-content {
      &__rank {
        color: var(--text-table);
        font-size: 12px;
        font-weight: 600;
      }
      &__main {
        border-bottom: 1px solid rgba(0, 28, 78, 0.15);
        .txHash,
        .chn,
        .vote-weight,
        .proposal {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .txHash {
          padding-top: 15px;
          span:nth-child(1) {
            color: var(--text-table);
            font-size: 12px;
            font-weight: 600;
          }
          span:nth-child(2) {
            color: var(--text-table);
            font-size: 14px;
            font-weight: 500;
          }
        }
        .chn {
          span:nth-child(1) {
            color: var(--text-table);
            font-size: 12px;
            font-weight: 600;
          }
          span:nth-child(2) {
            color: var(--text-table);
            font-size: 14px;
            font-weight: 500;
          }
        }
        .vote-weight {
          span:nth-child(1) {
            color: var(--text-table);
            font-size: 12px;
            font-weight: 600;
          }
          span:nth-child(2) {
            color: var(--text-table);
            font-size: 14px;
            font-weight: 500;
          }
        }
        .proposal {
          padding-bottom: 15px;
          span:nth-child(1) {
            color: var(--text-table);
            font-size: 12px;
            font-weight: 600;
          }
          span:nth-child(2) {
            color: var(--text-table);
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
    }
  }
}
