:root {
    .proposal-history {
        padding: 20px 14px 20px 14px;
        color: var(--color-text);
        .history-title {
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            text-align: left;
        }
    }
}
