.dialog {
  padding-left: 34px;
  padding-right: 34px;
  .title-dialog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .text-stake {
      font-size: 20px;
      font-weight: 600;
      color: var(--color-text-white-black);
    }
  }
  .dialog-content {
    overflow-y: unset;
    &__amount {
      background: var(--background-stake-color);
      border-radius: 10px;
      padding: 32px;
      .title {
        font-size: 16px;
        font-weight: 600;
        color: var(--color-text-white-black);
      }
      .input {
        border-bottom: none !important;
        font-size: 48px;
        color: var(--color-text-white-black);
        font-weight: 600;
      }
      .slider {
        color: var(--btn-background-connect-color) !important;
      }
    }
    &__percent {
      display: flex;
      align-items: center;
      .percent-number {
        color: var(--btn-background-connect-color);
        width: 92px;
        height: 33px;
        line-height: 33px;
        background: rgba(16, 125, 239, 0.1);
        border-radius: 30px;
        text-align: center;
        margin-right: 8px;
        text-align: center;

        input {
          text-align: center !important;
          -webkit-text-fill-color: var(--btn-background-connect-color);
          cursor: pointer;
        }
      }
    }
    .balance {
      display: flex;
      flex-direction: column;
      margin-top: 42px;
      padding-left: 20px;

      &__wallet-balance {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        .title {
          font-size: 16px;
          font-weight: 600;
          color: var(--color-text-white-black);
        }
        .autocomplete {
          padding-left: 10px;
          padding-bottom: 10px;
        }
      }

      &__stake-balance {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        .title {
          font-size: 16px;
          font-weight: 600;
          color: var(--color-text-white-black);
        }
        .autocomplete {
          padding-left: 10px;
          padding-bottom: 10px;
        }
      }
    }
  }

  .dialog-action {
    justify-content: center;
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 58px;
    .button-stake {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 455px;
      background: rgba(31, 55, 100, 0.5);
      border-radius: 10px;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 18px;
      font-weight: 700;
      color: #ffffff;
    }
  }

  .dialog-title__transaction {
    padding-top: 31px;
    .children_content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .icon_right {
        padding-right: 47px;
        padding-left: 8px;
        cursor: pointer;
        color: #001c4e61;
      }
      .icon_left {
        padding-left: 51px;
        padding-right: 8px;
        cursor: pointer;
        color: #001c4e61;
      }
      .confirm-title {
        font-size: 20px;
        display: block;
        font-weight: 600;
        color: rgba(0, 28, 78, 0.87);
        text-transform: capitalize;
      }
    }
  }

  .dialog-content__transaction {
    padding-top: 40px !important;
    padding-bottom: 39px;
    text-align: center;

    .children_content {
      display: flex;
      align-content: center;
      justify-content: center;
      flex-direction: column;
    }

    .token-quantity {
      font-size: 48px;
      font-weight: 600;
      color: rgba(0, 28, 78, 0.87);
    }
    .token-stake {
      font-size: 16px;
      font-weight: 600;
      color: rgba(0, 28, 78, 0.87);
    }
  }

  .dialog-actions__transaction {
    display: flex;
    justify-content: center;
    padding: 0px 34px 57px 34px;
    &__confirm {
      width: 455px;
      font-size: 18px;
      font-weight: normal;
      color: #ffffff;
      background: #107def;
      border-radius: 10px;
      text-transform: capitalize;

      &:hover {
        background-color: #107def;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .dialog {
    .title-dialog {
      .text-stake {
        font-size: 28px;
      }
    }
    .dialog-content {
      &__amount {
        .title {
          font-size: 24px;
        }
      }
      .balance {
        &__wallet-balance {
          .title {
            font-size: 24px;
          }
        }
        &__stake-balance {
          .title {
            font-size: 24px;
          }
        }
      }
    }
    .dialog-action {
      .button-stake {
        font-size: 26px;
      }
    }
    .dialog-title__transaction {
      .children_content {
        .confirm-title {
          font-size: 24px;
        }
      }
    }
    .dialog-content__transaction {
      .token-quantity {
        font-size: 48px;
      }
      .token-stake {
        font-size: 24px;
      }
    }
    .dialog-actions__transaction {
      &__confirm {
        font-size: 24px;
      }
    }
  }
}
