:root {
  .governance-vote {
    width: 30%;
    padding: 10px;
    background-color: var(--background-governance-color);
    border-radius: 20px;
    text-align: center;
    padding-bottom: 20px;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .vote-title {
    color: var(--color-text-white-black);
    padding: 10px 0;
    font-size: 1.3em;
  }
  .vote-content {
    display: flex;
    justify-content: center;
    height: 3em;
    line-height: 1.7;
  }
  .vote-value, .rank {
      color: var(--color-text-white-blue);
      font-size: 1.1em;
  }
  .create-proposal {
    padding: 15px 40px;
    background: #107DEF;
    border-radius: 20px;
    color: #fff;
  }
  .create-proposal:hover {
    background-color: #107DEF;
  }
  .border-bottom {
    border: solid 1px black;
    margin: 29px 0;
  }
  .rank {
      margin-bottom: 20px;
  }
  .view-leader-board {
      padding: 15px 40px;
      border-radius: 20px;
      border: solid 1px var(--btn-hover-blue-green);
      color: var(--btn-hover-blue-green);
      width: 50%;
      margin: 0 auto;
      cursor: pointer;
  }
}
