:root {
  .governance-vote {
    // width: 30%;
    padding: 10px;
    background-color: var(--background-governance-color);
    border-radius: 20px;
    text-align: center;
    padding-bottom: 20px;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    @media screen and (max-width: 576px) {
      margin-bottom: 20px;
    }
    @media screen and (min-width: 577px) {
      width: 30%;
    }
  }
  .vote-title {
    color: var(--color-text-white-black);
    padding: 10px 0;
    font-size: 1.3em;
  }
  .vote-content {
    display: flex;
    justify-content: center;
    height: 3em;
    line-height: 1.7;
  }
  .vote-value {
      color: var(--color-text-white-blue);
      font-size: 1.1em;
  }
  .create-proposal {
    padding: 10px 15px;
    background: #107DEF;
    border-radius: 15px;
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    width: 240px;
    height: 65px;
    @media screen and (max-width: 300px) {
      width: 190px;
      height: 44px;
    }
  }
  .create-proposal:hover {
    background-color: #107DEF;
  }
  .border-bottom {
    border: dashed 1px #C4C4C4;
    margin: 29px 0;
  }
  .rank {
      margin-bottom: 20px;
      font-size: 1.3em;
  }
  .view-leader-board {
      border-radius: 15px;
      border: solid 1px var(--btn-hover-blue-green);
      color: #107DEF;
      margin: 0 auto;
      cursor: pointer;
      font-size: 18px;
      width: 240px;
      height: 65px;
      line-height: 65px;
      @media screen and (max-width: 300px) {
        width: 190px;
        height: 44px;
        line-height: 44px;
      }
  }
  .stake_value {
    margin-right: 10px;
    font-weight: bold;
  }
  .stake_token {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color-stake);
    width: 92px;
    height: 33px;
    padding: 5px 10px;
    background: rgba(16, 125, 239, 0.1);
    border-radius: 30px;
    text-align: center;
    line-height: 33px;
    flex: 1;
  }
  .rank-title {
    color: var(--color-text-white-black);
    margin-right: 10px;
  }
  .rank-value {
    color: var(--text-color-stake);
    font-weight: 700;
  }
}
