$background-login-btn: rgba(16, 125, 239, 0.1);
$color: #107def;

:root {
  .button {
    background-color: $background-login-btn;
    padding: 10px 17px;
    width: 175px;
    box-shadow: border-box;
    border-radius: 30px;
    letter-spacing: 0.015em;
    display: flex;
    justify-content: center;
    color: $color;
    cursor: pointer;
    letter-spacing: 0.015em;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
  .center-items {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button__text {
    padding-left: 7.67px;
    font-weight: 500;
    font-size: 17px;
  }
  .select {
    background: #dedede;
    border-radius: 10px;
    padding: 10px;
    top: 60px;
    position: absolute;
    width: 13%;
    cursor: pointer;
    z-index: 10;
    right: 0;
    .wallet-item {
      margin: 3px 0;
    }
    .wallet-item:hover {
      background-color: rgb(164, 196, 185);
    }
    z-index: 100;
    .btn-add-wallet {
      cursor: pointer;
    }
  }
  .close {
    display: none;
  }
  @media screen and (max-width: 576px) {
    .button {
      background: var(--mb-bg-btn-wallet);
      border-radius: 30px;
      color: var(--text-color-stake);
      display: flex;
      padding: 10px 16px;

      &__text {
        margin-left: 8px;
        color: var(--text-color-stake);
      }
    }
  }
  @media screen and (max-width: 768px) {
    .button {
      background: var(--mb-bg-btn-wallet);
      border-radius: 30px;
      color: var(--text-color-stake);
      display: flex;
      padding: 10px 16px;

      &__text {
        margin-left: 8px;
        color: var(--text-color-stake);
      }
    }
  }
}
