:root{
    .vote-card {
        padding: 10px;
        .vote-card-title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 16px;
            font-weight: 600;
            line-height: 19px;
            color: var(--color-text);
        }
        .vote-card-col {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 14px;
            font-weight: 500;
            line-height: 16.71px;
            color: var(--color-text-head-vote);
            margin-top: 10px;
        }
        .vote-card-content {
            padding: 16px 0px 16px 0px;
            border-bottom: #EFEFEF 1px solid;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 16px;
            font-weight: 600;
            line-height: 19px;
            color: var(--color-text);
            .vote-card-content-vote {
                color: var(--color-text-white-black);
            }
        }
    }
}