:root{
    .footer-component {
        padding: 30px 100px;
        display: flex;
        justify-content: space-between;
    }
    .footer-component div {
        color: #fff;
        font-size: 18px;
    }
}