:root {
    .title {
        margin-top: 55px;
        font-size: 20px;
        font-weight: bold;
    }
    .proposal-block,
    .detail-info {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }
    .proposer-id {
        cursor: pointer;
        color: var(--color-address-contract);
        overflow: hidden;
    }
    .block-right,
    .vote-card,
    .description {
        border: solid 1px rgba(0, 28, 78, 0.38);
        border-radius: 15px;
        padding: 10px;
        background-color: var(--background-proposal-detail-card);
        box-shadow: 0px 4px 30px 0px rgba(0, 28, 78, 0.05);
        .text-black-white {
            font-weight: 600;
        }
    }
    .block-left {
        width: 76%;
        .proposer-status {
            color: var(--color-text);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 40%;
            .proposer-status-left {
                display: flex;
                flex-direction: row;
                font-size: 14px;
                font-weight: 500;
                color: var(--color-text-head-vote);
            }
            .proposer-status-left-date {
                margin-left: 16px;
            }
        }
    }
    .block-right {
        width: 20%;
    }
    .description {
        margin-top: 20px;
        padding: 20px !important;
    }
    .vote-card {
        width: 46%;
    }
    .proposal-status {
        color: #277ee6;
    }
    .proposal-status-failed {
        color: #7c7878;
    }
    .proposal-status-passed {
        color: #9dd562;
    }
    .vote-status-update {
        .update-proposal-status {
            display: flex;
            justify-content: center;
            margin-top: 16px;
            Button {
                border: 1px solid;
                border-radius: 10px;
                margin: 0px 8px 0px 8px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    :root {
        .title {
            margin-top: 55px;
            font-size: 20px;
            font-weight: bold;
        }
        .proposal-block,
        .detail-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 15px;
        }
        .proposer-id {
            cursor: pointer;
            color: var(--color-address-contract);
            padding: 10px 16px 10px 16px;
        }
        .block-right,
        .vote-card,
        .description {
            border: solid 1px rgba(0, 28, 78, 0.38);
            border-radius: 15px;
            padding: 10px;
            background-color: var(--background-proposal-detail-card);
            box-shadow: 0px 4px 30px 0px rgba(0, 28, 78, 0.05);
            margin-top: 16px;
        }
        .block-left {
            width: auto;
            .proposer-status {
                padding: 0px 16px 0px 16px;
                color: var(--color-text);
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: auto;
                .proposer-status-left {
                    display: flex;
                    flex-direction: row;
                    font-size: 14px;
                    font-weight: 500;
                    color: var(--color-text-head-vote);
                }
                .proposer-status-left-date {
                    margin-left: 16px;
                }
            }
        }
        .block-right {
            width: auto;
        }
        .description {
            margin-top: 20px;
        }
        .vote-card {
            width: auto;
        }
        .proposal-status {
            color: #277ee6;
        }
        .proposal-status-failed {
            color: #7c7878;
        }
        .proposal-status-passed {
            color: #9dd562;
        }
    }
}
