.history-content {
  padding: 24px 55px 14px 55px;
  background-color: var(--background-table);
  border: 1px solid rgba(0, 28, 78, 0.15);
  box-sizing: border-box;
  box-shadow: 0px 4px 30px rgba(0, 28, 78, 0.05);
  border-radius: 14px;
  margin-top: 37px;
  @media screen and (max-width: 768px) {
    padding: 20px 19px 19px 19px;
  }
  &__title {
    font-size: 18px;
    font-weight: 600;
    color: var(--text-table);
    padding-bottom: 29px;
    display: block;
    @media screen and (max-width: 768px) {
      padding-bottom: 26px;
      font-size: 16px;
    }
  }

  &__main {
    border: 1px solid #e5eeff;
    box-sizing: border-box;
    border-radius: 14px;
    padding: 16px 24px 17px 24px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;

    &__column_1 {
      flex: 1;
      .title {
        font-size: 20px;
        font-weight: 600;
        color: var(--text-table);
        padding-bottom: 8px;
        display: block;
      }
      .text {
        span:nth-child(1) {
          font-size: 14px;
          font-weight: 500;
          padding-right: 39px;
          color: var(--color-text-detail);
        }
        span:nth-child(2) {
          font-size: 14px;
          font-weight: 500;
          padding-right: 56px;
          color: var(--color-text-detail);
        }
        .Passed {
          font-size: 16px;
          font-weight: 600;
          color: #3ee046;
        }
        .Failed {
          color: #d63031;
          font-size: 16px;
          font-weight: 600;
        }
        .Active {
          color: #0984e3;
          font-size: 16px;
          font-weight: 600;
        }
        .Queue {
          color: #ffba33;
          font-size: 16px;
          font-weight: 600;
        }
        .Expired {
          color: #fdcb6e;
          font-size: 16px;
          font-weight: 600;
        }
        .Executed {
          color: #2d3436;
          font-size: 16px;
          font-weight: 600;
        }
        .Cancelled {
          color: #ff7675;
          font-size: 16px;
          font-weight: 600;
        }
        .Pending {
          color: #107DEF;
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
    &__column_2 {
      flex: 1;
      margin-left: 6% !important;
      .progress-up {
        margin-bottom: 10px;
        height: 6px;
        border-radius: 13px;
      }
      .progress-down {
        height: 6px;
        border-radius: 13px;
      }
    }
    &__column_3 {
      flex: 1;
      text-align: right;
      padding-right: 83px;
      text-transform: capitalize;
      font-size: 16px;
      font-weight: 500;
      color: var(--text-table);
    }
  }
  .table-pagination {
    color: var(--text-table);
  }
}
