body {
  background-color: var(--main-background-color);
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.App {
  height: 100%;
}

:root {
  --btn-header-border-color: #107def;
  --header-bar-color: #ffffff;
  --main-background-color: #fff;
  --btn-background-connect-color: #107def;
  --color-text-white: #fff;
  --color-text-footer: #001c4e;
  --background-dialog-color: #fff;
  --color-text-white-black: #001c4e;
  --btn-hover-blue-green: #107def;
  --color-text-black-white: #fff;
  --main-background-dropdow: #ecf3fb;
  --background-governance-color: #fff;
  --pagination-color: rgba(78, 78, 78, 0.6);
  --pagination-action-color: rgba(156, 155, 155, 0.38);
  --color-text-white-blue: #107def;
  --color-dialog-title: #4e4b66;
  --color-primary: #1a88c9;
  --footer-background-color: #fff;
  --background-wallet-connect: #ffffff;
  --color-table: #ffffff;
  --background-stake-color: #edf1f8;
  --text-color-stake: #107def;
  --background-stake-modal: #ffffff;
  --background-proposal: #edf1f8;
  --color-text-proposal-action: #001c4e;
  --background-proposal-detail-card: #fff;
  --color-address-contract: rgba(0, 0, 0, 0.6);

  // footer theme mobile
  --bg-theme-active: #fcfbfd;
  --bg-theme: #f5f4f6;
  --mb-bg-footer: #fff;
  --mb-bg-btn-wallet: rgba(16, 125, 239, 0.1);
  --color-text: #000;
  --color-text-active: #107def;

  // stake theme mobile
  --mb-card-color-text: rgba(0, 28, 78, 0.6);
  --mb-card-color-text-value: rgba(0, 28, 78, 0.87);
  --mb-card-btn: #edf1f8;
  --mb-card-border: rgba(0, 28, 78, 0.15);


}
[data-theme='dark'] {
  --btn-header-border-color: #72bf65;
  --header-bar-color: #1b1c1f;
  --main-background-color: #121316;
  --btn-background-connect-color: #72bf65;
  --color-text-white: #fff;
  --color-text-footer: #fff;
  --background-dialog-color: #1b1c1f;
  --color-text-white-black: #fff;
  --btn-hover-blue-green: #107def;
  --color-text-black-white: rgba(0, 28, 78, 0.87);
  --main-background-dropdow: rgba(114, 191, 101, 0.1);
  --background-governance-color: #1b1c1f;
  --pagination-color: rgba(255, 255, 255, 0.6);
  --pagination-action-color: rgba(255, 255, 255, 0.38);
  --color-text-white-blue: #fff;
  --color-dialog-title: #4e4b66;
  --color-primary: #1a88c9;
  --footer-background-color: #1b1c1f;
  --background-wallet-connect: #282b32;
  --color-table: #1b1c1f;
  --background-stake-color: #121316;
  --text-color-stake: #107def;
  --background-stake-modal: #1b1c1f;
  --background-proposal: #09090b;
  --color-text-proposal-action: #fff;
  --background-proposal-detail-card: #1b1c1f;
  --color-address-contract: rgba(255, 255, 255, 0.6);

  // footer theme mobile
  --bg-theme-active: #121416;
  --bg-theme: rgba(0, 28, 78, 0.15);
  --mb-bg-footer: rgba(27, 28, 31, 1);
  --mb-bg-btn-wallet: rgba(16, 125, 239, 0.1);
  --color-text: #fff;
  --color-text-active: #107def;

  // stake theme mobile
  --mb-card-color-text: rgba(255, 255, 255, 0.6);
  --mb-card-color-text-value: rgba(255, 255, 255, 0.87);
  --mb-card-btn: rgba(36, 44, 59, 1);
  --mb-card-border: rgba(255, 255, 255, 0.15)
  ;
}
.Snackbar {
  .css-zzms1-MuiSnackbar-root {
    top: 95px !important;
  }
}
.area-chart-main {
  padding: 20px 100px;
  background-color: var(--main-background-color);
  height: calc(100% - 50px);
  // margin-top: -20px;
  // padding-bottom: 153px;
}
.footer {
  height: 100px;
  background: var(--footer-background-color);
  // position: absolute;
  // bottom: 0;
  width: 100%;
}

.text-black-white {
  color: var(--color-text-white-black);
}
.mt-15 {
  margin-top: 15px;
}
.mb-15 {
  margin-bottom: 15px;
}

.pd-td-10 {
  padding: 10px 0;
}
.pd-15 {
  padding: 15px;
}

@media screen and (max-width: 768px) {
  .App {
    margin: 0;
    box-sizing: border-box;
  }
  .area-chart-main {
    padding: 20px 24px;
    height: calc(100vh - 120px);
    margin-top: 110px;
  }
  .footer {
    height: 0px;
  }
}

@media screen and (max-width: 375px) {
  .App {
    margin: 0;
    box-sizing: border-box;
  }
  .area-chart-main {
    padding: 20px 24px;
    height: calc(100vh - 120px);
    margin-top: 110px;
  }
  .footer {
    height: 0px;
  }
}
