body {
  background-color: var(--background-color);
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.App {
  height: 100vh;
}

:root {
  --btn-header-border-color: #72BF65;
  --main-background-color: #001C4E;
  --btn-background-connect-color: #72BF65;
  --color-text-white: #FFF;
  --color-text-footer: #FFF;

  --background-color: #f5f5f5;
  --background-header-color: #eceff9;
  --primary-button-bg: #1a88c9;
  --color-text-white-blue: #fff;
  --color-dialog-title: #4e4b66;
  --color-primary: #1a88c9;
  --background-color-main: #39496a;
  --footer-background-color: #01163D;
}
[data-theme='dark'] {
  --btn-header-border-color: #107DEF;
  --main-background-color: #FFF;
  --btn-background-connect-color: #107DEF;
  --color-text-white: #FFF;
  --color-text-footer: #001C4E;
  
  --background-color-main: #39496a;
  --background-color: #f5f5f5;
  --background-header-color: #eceff9;
  --primary-button-bg: #1a88c9;
  --color-text-white-blue: #107DEF;
  --color-dialog-title: #4e4b66;
  --color-primary: #1a88c9;
  --footer-background-color: #FFF;
}
.Snackbar {
  .css-zzms1-MuiSnackbar-root {
    top: 95px !important;
  }
}
.area-chart-main {
  padding: 20px 100px;
  background-color: var(--main-background-color);
  height: calc(100% - 50px);
  // margin-top: -20px;
}
.footer {
  height: 100px;
  background: var(--footer-background-color);
  // position: absolute;
  // bottom: 0;
  width: 100%;
}


