body {
  background-color: var(--background-color);
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.App {
  height: 100%;
}

:root {


  --btn-header-border-color: #107DEF;
  --header-bar-color:#FFFFFF;
  --main-background-color: #FFF;
  --btn-background-connect-color: #107DEF;
  --color-text-white: #FFF;
  --color-text-footer: #001C4E;
  --background-dialog-color: #fff;
  --color-text-white-black: #001C4E;
  --btn-hover-blue-green: #107DEF;
  --color-text-black-white: #fff;
  --main-background-dropdow: #ECF3FB;
  --background-governance-color: #fff;
  --pagination-color: rgba(78, 78, 78, 0.6);
  --pagination-action-color: rgba(156, 155, 155, 0.38);
  --color-text-white-blue: #107DEF;
  --color-dialog-title: #4e4b66;
  --color-primary: #1a88c9;
  --footer-background-color: #FFF;
  --background-wallet-connect: #FFFFFF;
  --color-table: #FFFFFF;
  --background-stake-color:#EDF1F8;
  --text-color-stake:#107DEF;
  --background-stake-modal: #FFFFFF;
  --background-proposal: #EDF1F8;
  --color-text-proposal-action: #001C4E;
  --background-proposal-detail-card: #fff;
  --color-address-contract: rgba(0, 0, 0, 0.6)
}
[data-theme='dark'] {
  --btn-header-border-color: #72BF65;
  --header-bar-color:#1B1C1F;
  --main-background-color: #121316;
  --btn-background-connect-color: #72BF65;
  --color-text-white: #FFF;
  --color-text-footer: #FFF;
  --background-dialog-color: #1B1C1F;
  --color-text-white-black: #fff;
  --btn-hover-blue-green: #107DEF;
  --color-text-black-white: rgba(0, 28, 78, 0.87);
  --main-background-dropdow: rgba(114, 191, 101, 0.1);
  --background-governance-color: #1B1C1F;
  --pagination-color: rgba(255, 255, 255, 0.6);
  --pagination-action-color: rgba(255, 255, 255, 0.38);
  --color-text-white-blue: #fff;
  --color-dialog-title: #4e4b66;
  --color-primary: #1a88c9;
  --footer-background-color: #1B1C1F;
  --background-wallet-connect: #282B32;
  --color-table: #1B1C1F;
  --background-stake-color:#121316;
  --text-color-stake:#107DEF;
  --background-stake-modal: #1B1C1F;
  --background-proposal: #09090B;
  --color-text-proposal-action: #fff;
  --background-proposal-detail-card: #1B1C1F;
  --color-address-contract: rgba(255, 255, 255, 0.6)
}
.Snackbar {
  .css-zzms1-MuiSnackbar-root {
    top: 95px !important;
  }
}
.area-chart-main {
  padding: 20px 100px;
  background-color: var(--main-background-color);
  height: calc(100% - 50px);
  // margin-top: -20px;
  // padding-bottom: 153px;
}
.footer {
  height: 100px;
  background: var(--footer-background-color);
  // position: absolute;
  // bottom: 0;
  width: 100%;
}

.text-black-white {
  color: var(--color-text-white-black);
}
.mt-15 {
  margin-top: 15px;
}
.mb-15 {
  margin-bottom: 15px;
}

.pd-td-10 {
  padding: 10px 0;
}
.pd-15 {
  padding: 15px;
}


