body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiTablePagination-selectIcon.MuiSelect-icon.MuiSelect-iconStandard.css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon {
  color: rgba(255, 255, 255, 0.6)!important;
 
}

.css-zylse7-MuiButtonBase-root-MuiIconButton-root.Mui-disabled{
  color: rgba(255, 255, 255, 0.6)!important;
  background-color: none!important
} */

/* .css-a88p61-MuiInputBase-root-MuiInput-root:before {
  border-bottom: none !important;
} */

.css-nz481w-MuiInputBase-input-MuiInput-input.Mui-disabled {
  -webkit-text-fill-color: var(--color-text-white-black)!important;
  opacity: 1!important;
}