:root {
    .governance {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 844px) {
            display: block;
            padding-right: 18px;
        }
    }
    .loading-page {
        margin: 0 auto;
        height: calc(100vh - 170px);
        position: relative;
    }
}