.table-container {
  position: relative;
  overflow: unset;
  height: 511px !important;
  background: var(--color-table) !important;
  border: 1px solid var(--color-line);
  border-radius: 20px;
  .table {
    max-height: 511px !important;

    .table-head {
      &__cell {
        border-bottom: none;
        color: var(--color-text-white-black);
        font-weight: 500;
        font-size: 16px;
        padding-top: 34px;
        padding-left: 46px;
      }
    }

    .table-body {
      padding-bottom: 56px;
      &__cell {
        max-height: 100px;
        border-bottom: none;
        color: var(--color-text-white-black);
        font-weight: 500;
        font-size: 18px;
        padding-left: 46px;
        &__pending-text {
          display: flex;
          align-items: center;
          justify-content: center;

          .progress {
            margin-left: 10px;
          }
        }
      }
      .txt-usd {
        font-size: 12px;
      }
      .cell-hash {
        display: flex;
        .hash {
          margin-right: 6px;
        }
        .icon-redirect {
          cursor: pointer;
        }
      }
      .pending {
        color: #5773e7;
      }

      .completed {
        color: #72bf65;
      }
      .txt-type {
        width: fit-content;
        padding: 1px 4px;
        border-radius: 4px;
        background-color: var(--bg-txt-type);
      }
    }
    .footer-wrapper {
      position: absolute;
      bottom: 0;
      right: 0;
      .table-footer {
        border-bottom: none;
        .table-pagination {
          padding-bottom: 23px;
          color: var(--color-text-white-black);
          font-size: 14px;
          font-weight: 600;
        }
      }
    }
  }
}
