.paper {
    background: #01163D!important;
    border-radius: 19px!important;
    .table-container {
        overflow: unset;
        height: 511px!important;
        .table {
            height: 511px!important;

            .table-head {
                &__cell {
                    border-bottom: none;
                    color: rgba(255, 255, 255, 0.6);
                    text-transform: capitalize;
                    font-weight: 500;
                    font-size: 16px;
                    padding-top: 34px;
                    padding-left: 46px;
                }
            }

            .table-body {
                padding-bottom: 56px;
                &__cell{
                    border-bottom: none;
                    color: #FAFCFF;
                    font-weight: 500;
                    font-size: 18px;
                    padding-left: 46px;
                    &__pending-text{
                        display: flex;
                        align-items: center;
                        justify-content:center;
                        
                       .progress {
                           margin-left: 10px
                       }
                    }
                }
                .pending {
                    color: #5773E7;
                }

                .completed {
                    color:#72BF65
                }
            }

            .table-footer{
                border-bottom: none;
                .table-pagination{
                    padding-bottom: 23px;
                    color:rgba(255, 255, 255, 0.6);
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }

    }

}