:root{
    .back-arrow {
        display: flex;
    }
    .arrow-left {
        cursor: pointer;
        width: 3%;
    }
    .title {
        color: var(--color-text-white-black);
        font-size: 24px;
    }
}