:root {
  .back-arrow {
    display: flex;
    align-items: center;
  }
  .arrow-left {
    cursor: pointer;
    width: 3%;
    .icon {
      padding-top: 6px;
      padding-right: 24px;
      display: block;
     
    }
  }
  .title {
    color: var(--color-text-white-black);
    font-size: 24px;
    @media screen and (max-width: 844px){
      padding-left: 15px!important;
    }
  }
}
