:root {
  .hidden {
    visibility: hidden;
    margin-top: 32px;
    margin-left: 32px;
  }
  .title {
    font-size: 26px;
    font-weight: 500;
    color: var(--color-dialog-title);
    margin: 30px 0;
    text-align: center;
  }
  .close-button {
    margin-top: 32px;
    margin-right: 32px;
    color: var(--color-dialog-label);
  }

  .list-wallet {
    display: flex;
    align-items: center;
    padding: 30px 32px 37px 32px;
    
    .button {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background: #022461;
      border-radius: 15px;
      height: 82px;

      .icon {
        padding: 21px 22px 22px 23px;
      }

      .title {
        text-transform: capitalize;
        color: var(--color-text-white-black);
        font-size: 24px;
        font-weight: 700;
      }
    }
  }

  .connect-wallet-text-title {
    color: var(--color-text-white-black);
    font-size: 24px;
    font-weight: 700;
  }
  .connect-wallet-text {
    color: var(--color-text-white-black);
  }
}
